upstream application {
    {% for host in applications %}
        server {{hostvars[host]['ansible_host']}}
    {% endfor %}
}

server {
    listen 80;
    server_name {{DEFAULT_SERVER_NAME}};
    location / {
        proxy_pass http://application;
    }
}
